USE [dbTrain]

/****** Object:  Table [dbo].[tblDonViTinh]    Script Date: 05/30/2013 22:30:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblDonViTinh]') AND type in (N'U'))
DROP TABLE [dbo].[tblDonViTinh]
GO

GO
/****** Object:  Table [dbo].[tblDonViTinh]    Script Date: 05/30/2013 22:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDonViTinh](
	[Ma_DVT] [nvarchar](3) NOT NULL,
	[Ten_DVT] [nvarchar](max) NOT NULL,
	[Ma_Std] [nvarchar](3) NULL,
	[TL_QuyDoi] [decimal](15, 6) NULL,
 CONSTRAINT [PK_SDVT] PRIMARY KEY CLUSTERED 
(
	[Ma_DVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblDonViTinh] ([Ma_DVT], [Ten_DVT], [Ma_Std], [TL_QuyDoi]) VALUES (N'0  ', N'USD', N'0  ', CAST(1.000000 AS Decimal(15, 6)))
INSERT [dbo].[tblDonViTinh] ([Ma_DVT], [Ten_DVT], [Ma_Std], [TL_QuyDoi]) VALUES (N'1  ', N'GRAMME', N'1  ', CAST(1.000000 AS Decimal(15, 6)))
INSERT [dbo].[tblDonViTinh] ([Ma_DVT], [Ten_DVT], [Ma_Std], [TL_QuyDoi]) VALUES (N'10 ', N'CON (DONG VAT)', N'10 ', CAST(1.000000 AS Decimal(15, 6)))
GO
print 'Processed 100 total records'
